  <div class="field col-xs-6">
  	<div class"field col-xs-3"=>
    <%= f.label :card_id %>
    </div>
    <div class"field col-xs-3"=>
    <% if card_selected.nil? %>
    	<%= "You don't have a card selected." %>
    <% else %>
    	<%= "#{current_user.cards}" %>
    <% end %>
  	</div>