 
        




<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= sale_item.item_name %></h4>
      <h4>Item Price: <span style="color: green"><%= number_to_currency sale_item.item_price %></span></h4>
    </div>
    
  </div>
</div>