<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @wishlist.name %>
</p>

<td><%= link_to 'Edit', edit_wishlist_path(@wishlist) %></td> 
<td><%= link_to 'Back', wishlists_path %></td>
